[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
SuccessExitStatus=0 1
ProtectHome=true
ProtectSystem=full
PrivateDevices=true
NoNewPrivileges=true
WorkingDirectory={{ mc_root }}/server
ExecStart=/usr/bin/java -Xmx{{ max_memory }} -Xms{{ min_memory}} -jar server.jar nogui

[Install]
WantedBy=multi-user.target
